wangyi.cf
{
  root /var/www
  tls tanghb2005@gmail.com
  proxy /ws localhost:6443 {
    websocket
    header_upstream -Origin
  }
}
ct.wangyi.cf
{
  root /var/www
  tls tanghb@outlook.com
  proxy / localhost:20180 {
    websocket
  }
}
www.wangyi.cf
{
  root /var/www
  tls tanghb2005@gmail.com
  proxy /ws localhost:6443 {
    websocket
    header_upstream -Origin
  }
}
gost.wangyi.cf
{
  root /var/www
  tls tanghb2005@gmail.com
  proxy / localhost:8080 {
    websocket
    header_upstream -Origin
  }
}
