[Unit]
Description=cloud-torrent

[Service]
WorkingDirectory=/cloud-torrent/
ExecStart=/cloud-torrent/cloud-torrent --port 20180 --host localhost
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
