[Unit]
Description=GO Simple Tunnel
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/gost -L mws://:8080

[Install]
WantedBy=multi-user.target
