
[Unit]
Description=sniproxy server
After=network.target
     
[Service]
Restart=always
ExECStart=/usr/sbin/sniproxy -f -c /etc/sniproxy.conf
   
[Install]
WantedBy=multi-user.target
