
[Unit]
Description=sniproxy server
After=network-online.target
     
[Service]
Restart=always
ExecStart=/usr/sbin/sniproxy -f -c /etc/sniproxy.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
